<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/static/css/Styles.css">

</head>
<body>
    <h2>Bienvenido, <span id="nombreUsuario"></span></h2>
    <p>Correo: <span id="correoUsuario"></span></p>
    <p>Carrera: <span id="carreraUsuario"></span></p>
    <p>Edad: <span id="edadUsuario"></span></p>

    <button onclick="cerrarSesion()">Cerrar Sesión</button>

    <script src="/static/js/script.js"></script>
</body>
</html>

